= content_for :head do
  javascript: 
    function showMarkers(obj) {
      var jsonPath;
      if(obj.checked) {
        var name = obj.id;
        $.getJSON("/users.json", function(data){
          makeMarkers(data,name);
        });
      } else {
        alert("bye!");
      };
      var boxText = document.createElement("div");
      boxText.innerHTML = "Silu Jia";
      Gmaps.map.infobox = function(boxText) {
       return {
          content: boxText
         ,disableAutoPan: false
         ,maxWidth: 0
         ,pixelOffset: new google.maps.Size(-140, 0)
         ,zIndex: null
         ,boxStyle: { 
           background: "url('http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/examples/tipbox.gif') no-repeat"
           ,opacity: 0.75
           ,width: "280px"
            }
         ,closeBoxMargin: "10px 2px 2px 2px"
         ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
         ,infoBoxClearance: new google.maps.Size(1, 1)
         ,isHidden: false
         ,pane: "floatPane"
         ,enableEventPropagation: false
      }};
    }
  
    function makeMarkers(data, name) {
      var items = [];
      $.each(data, function(i, object) {
        $.each(object, function(key, val) {
          if (key == "description" && val == name) {
            items.push(object);
          }
        });
      });
      Gmaps.map.replaceMarkers(items);
    }
    

    
    
h1 Culture Map
.lognew
  - if signed_in?
    = link_to 'New User', new_user_path 
    ||
    = link_to 'Login', new_session_path
  - else
    | Welcome, @user.username
    ||
    = link_to 'Logout', logout_path, method: :delete
    = link_to 'Login', new_session_path

br
table class='mapuser'
  tr
    th Select
    th User
    th Email
    th Address
    th Longitude
    th Latitude
  - @users.each do |user|
    tr
      td
        input type='radio' onClick='showMarkers(this)' name='select' id=user.username 
      td = user.username
      td = user.email
      td = user.address
      td = user.longitude
      td = user.latitude

  
= gmaps("markers" => {"data" => @json, "options" => {"list_container" => "markers_list", "custom_infowindow_class" => "yellow"} })
ul id="markers_list"